# Python
backend/venv/
backend/__pycache__/
backend/*.pyc

# Node
frontend/node_modules/

# AI Models
backend/models/*.pt

# Uploads
backend/uploads/
backend/results/

# Environment Variables
.env

# VS Code
.vscode/

# Windows
Thumbs.db

# macOS
.DS_Store