.dashboard-bottom {

    display: grid;

    grid-template-columns: 2fr 1fr;

    gap: 25px;

    margin-top: 20px;

}

@media(max-width:1000px) {

    .dashboard-bottom {

        grid-template-columns: 1fr;

    }

}