.quick-actions {

    display: flex;

    justify-content: center;

    gap: 20px;

    margin-top: 45px;

    flex-wrap: wrap;

}

.quick-actions a {

    padding: 16px 30px;

    border-radius: 12px;

    text-decoration: none;

    font-weight: 600;

    background: #0b1120;

    border: 1px solid rgba(0, 229, 255, .25);

    color: white;

    transition: .35s;

}

.quick-actions a:hover {

    transform: translateY(-6px);

    background: var(--primary);

    color: black;

    box-shadow: 0 0 20px rgba(0, 229, 255, .4);

}